<div class="profile__info">
    <div class="profile__info-avatar">
        <img src="/icons/avatar.svg" alt="avatar">
    </div>
    <div class="profile__info-name">
        {{profileName}}
    </div>
</div>
