<div class="profile__info">
    <div class="profile__info-avatar">
        <img src="{{avatarImg}}" alt="avatar">
    </div>
    <div class="profile__info-name">
        {{profileName}}
    </div>
</div>
