<section class="profile__wrap">
    {{#Button onClick=linkChat className="arrow__back" buttonType="button" }}
        <img src={{arrowImg}} alt="back">
    {{/Button}}
    {{{ ProfileAvatar profileName="Дмитрий" }}}
    <form class="profile__info-list" action="">
        <ul>
            {{#each fields}}
                {{{FormInput
                        ref=this.ref
                        fieldName=this.name
                        label=this.label
                        fieldType=this.fieldType
                        value=this.value
                        onChange=this.onChange
                        onFocusOut=this.onFocusOut
                        onFocusin=this.onFocusin
                        className="profile__info-itemlist"
                }}}
            {{/each}}
        </ul>
        {{{Button buttonType="submit" className="btn__base" label='сохранить' onClick=onSubmit}}}
    </form>
</section>
