<form class="sign__wrap-form">
    <div>
        {{{FormInput fieldName='login' label='Имя'}}}
        {{{FormInput fieldName='password' label='Пароль'}}}
    </div>
    <div>
        {{{Button ref="submitBtn" className="btn__base" label='Войти' onClick=onSubmit}}}
        {{{Button ref="signUp" className="sign__link" label='Зарегистрироваться' onClick=onSignUp}}}
    </div>
</form>
