<section class="profile__wrap">
    {{#Button onClick=linkChat className="arrow__back" buttonType="button" }}
        <img src="./icons/arrow.svg" alt="back">
    {{/Button}}
    {{{ ProfileAvatar profileName="Дмитрий" }}}
    <div class="profile__info-list">
        <ul>
            {{#each items }}
                {{{ ProfileItem  itemName=this.itemName itemValue=this.itemValue }}}
            {{/each}}
        </ul>
    </div>
    <div class="profile__info-btns">
        {{{Button onClick=linkChangeInfo className="profile__info-btns-link" buttonType="button" label="Изменить данные"}}}
        {{{Button onClick=linkChangePassword className="profile__info-btns-link" buttonType="button" label="Изменить пароль" }}}
        <button class="profile__info-btns-logout" type="button">
            Выйти
        </button>
    </div>
</section>
