<section class="layout__center">
    <div class="error__message">500</div>
    <br>
    <div class="error__message">Что-то пошло не так!</div>
    <br>
    <div>
        {{{ Button className="link__blue" label="Вернуться в чат" onClick=linkChat }}}
    </div>
</section>
