<section class="layout__center">
    <nav class="nav__pages">
        <ul>
            {{#each buttons}}
                <li>{{{Link label=this.label to=this.to}}}</li>
            {{/each}}
        </ul>
    </nav>
</section>
