<div class="message__item">
    <div class="message__item-avatar">
        <img src="/icons/avatar.svg" alt="1">
    </div>
    <div class="message__item-info">
        <div class="message__item-top">
            <div class="message__item-name">
                {{name}}
            </div>
            <div class="message__item-date">
                {{date}}
            </div>
        </div>
        <div class="message__item-post">
            {{message}}
        </div>
        <div class="message__item-new-message">
            {{new-message}}
        </div>
    </div>
</div>
