<section class="layout__center">
    <div class="error__message">404</div>
    <div>
        страницы не существует
    </div>
    <br>
    <div>
        {{{ Button className="link__blue" label="Вернуться в чат" onClick=linkChat }}}
    </div>
</section>
